body {
    background-color:gainsboro;
}
div.page-header{
    text-align:center;
    border-bottom:none;
    color:darkslategrey;
}
.homepage{
    font-family: 'Muli', sans-serif;
    font-weight:bold;
    margin-bottom:0px;
    font-size:45px;
}
.design{
    font-family: 'Allura', cursive;
    font-size:40px;
    margin-top:0px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align:top;
  
}
nav#navvy{
    background-color:white;
    margin-bottom:0px;
    padding-bottom:0px;
}

.navbar .navbar-collapse {
    text-align: center;
}
.navbar-brand{
    font-size:10pt;
}
#navvy a{
    color:darkgray;
    font-family: 'Poiret One', cursive;
    font-weight:bold;
}

.brandName{
    background-color:cornflowerblue;
    
}
.properties{
    background-color:cornflowerblue;
}
#navvy a:hover{
    background:none;
}
/*Button*/
button.navbar-toggle{
    border:1px solid darkgray;
}
span.icon-bar{
    border:1px solid darkgray;
}
.main{
    margin-top:0px;
    padding-top:0px;
}
.rectangle{
    height:600px;
    border:solid 1px;
    background-color:#5c5c3d;
    font-family: 'Muli', sans-serif;
}
.first {
    background-image: url('images/whole villa.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.textBox{
    background-color:#1f1f14;
    color:white;
    text-align:center;
    margin-top:150px;
    padding:5px;
   
}
.btn{
    background-color:aquamarine;
    float:right;
}
.second {
    background-image: url('images/map.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 15px;
    padding-left: 15px;
}
.anotherTextBox{
    background-color:white;
    color:dimgrey;
    text-align:center;
    margin-top:150px;
    padding: 5px;
}
.square{
    height:300px;
    border:solid 1px gainsboro;
    font-family: 'Muli', sans-serif;
    background-color:white;
}
.villaOne {
    background-image: url('images/living room.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
.villaTwo {
    background-image: url('images/outdoor table.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
.villaThree {
    background-image: url('images/bed.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
.villaFour {
    background-image: url('images/pool with chairs.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
.villaFive {
    background-image: url('images/wooden outdoor table.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
.villaSix {
    background-image: url('images/pool.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
.ad {
    background-image: url('images/ad.png');
    
    background-repeat:no-repeat;
    background-size:contain;
}
.boxNumOne{
    padding:35px;
}
.textBoxCenter{
    background-color:#1f1f14;
    color:white;
    text-align:center;
    margin-top:100px;
    padding:5px;
}
.paragraphCenter{
    text-align:center;
    color:darkgrey;
    margin-top:50px;
}
.boxTitle{
    font-weight:bold;
}
.villaInfo{
    height:75px;
    background-color:#1f1f14;
    color:white;
    padding-top:5px;
}
.nestedRow{
    padding-top:150px;
}
.price{
    background-color:#6b6b47;
    text-align:center;
}
.clickBtn{
    border:solid 1px darkgrey;
    color:darkgrey;
    padding:3px;
}
.isFooter{
    background-color:#eaeae1;
}